---
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import "../styles/global.css";

interface Props {
  isFullWidth?: boolean;
}

const { isFullWidth = false } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class:list={[
      ' bg-background sm:mx-auto',
      !isFullWidth && 'max-w-[1700px] px-0 md:px-5 lg:px-10'
    ]}>
        <slot />
    </body>
</html>
